@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Moderustic", sans-serif;
}

body {
  background-color: #8ecae6;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh; 
 
}



a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 90px 0 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 50px;
}



.todo-app {
  background-color: #219ebc;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  
}

.todo-app h1 {
  color: white;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  
}

.todo-app .add {
  display: flex;
  margin-bottom: 20px;
}

.todo-app input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.todo-app button {
  padding: 10px;
  background-color: #ffb703;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.todo-app ul {
  list-style-type: none;
  padding: 0;
}

.todo-app li {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-app li span {
  flex: 1;
  margin-right: 10px;
}

.todo-app li .icon {
  cursor: pointer;
  margin-left: 10px;
}